{% extends 'base.html' %}
{% import "bootstrap5/form.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <div class="container" style="margin-top: 0px; margin-bottom: 10px;">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1>Register</h1>
        <div style="color: red;">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          <p>{{ message }}</p>
          {% endfor %}
          {% endif %}
          {% endwith %}
        </div>
       {{ wtf.render_form(form, novalidate=True, button_map={"submit": "btn btn-outline-dark"}) }}
      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}